<div class="container">
    <h1 class="large">{{ page.product_short_name }}</h1>
    {% if page.sales_price %}
        {% assign price_split = page.sales_price | split: "." %}
        {% assign integral = price_split[0] %}
        {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}

        <p>
            {{ integral }},{{ fractional }} kr
            {% if page.product_id %}
                - tilgjengelig på <a href="https://vinmonopolet.no/p/{{ page.product_id }}">Vinmonopolet</a>
            {% endif %}
        </p>
    {% endif %}

    {% if page.description %}
        {{ page.description | markdownify }}
    {% endif %}
</div>
<dl>
    {% if page.production_method_storage %}
        <dt>Metode</dt>
        <dd>{{ page.production_method_storage}} </dd>
    {% endif %}
    {% if page.manufacturer %}
        <dt>Produsent</dt>
        <dd><a href="/produsenter#{{ page.manufacturer.name | slugify: 'latin' }}">{{ page.manufacturer.name }}</a></dd>
    {% endif %}
</dl>