<dl class="properties icons">
    {% if page.fullness %}
        {% include components/property_icon.html key='Fylde' icon=page.fullness %}
    {% endif %}
    {% if page.freshness %}
        {% include components/property_icon.html key='Friskhet' icon=page.freshness %}
    {% endif %}
    {% if page.product_type_name == 'Rødvin' %}
        {% if page.tannins %}
            {% include components/property_icon.html key='Garvestoffer' icon=page.tannins %}
        {% endif %}
    {% else %} <!-- white, rose, and sparkling -->
        {% if page.sweetness %}
            {% include components/property_icon.html key='Sødme' icon=page.sweetness %}
        {% endif %}
    {% endif %}
</dl>
<dl class="">
    {% if page.recommended_food %}
        {% assign food = page.recommended_food | join: ', ' | capitalize %}
        {% include components/property.html key='Passer til' value=food %}
    {% endif %}
    {% if page.odour %}
        {% include components/property.html key='Lukt' value=page.odour %}
    {% endif %}
    {% if page.taste %}
        {% include components/property.html key='Smak' value=page.taste %}
    {% endif %}
    {% if page.colour %}
        {% include components/property.html key='Farge' value=page.colour %}
    {% endif %}
</dl>
<hr>
<dl class="">
    {% if page.sku %}
        {% include components/property.html key='Vårt varenummer' value=page.sku %}
    {% endif %}
    {% if page.product_id %}
        {% include components/property.html key='Vinmonopolets varenummer' value=page.product_id %}
    {% endif %}
    {% if page.grape_desc %}
        {% capture grape_var %}
            {% for grape in page.grape_desc %}
                {{ grape }} {{ page.grape_pct[forloop.index0] }}%
                {%- unless forloop.last -%}, {% endunless -%}
            {% endfor %}
        {% endcapture %}
        {% include components/property.html key='Druer' value=grape_var %}
    {% endif %}
    {% if page.storage_potential %}
        {% include components/property.html key='Lagring' value=page.storage_potential %}
    {% endif %}
    {% if page.alcohol_content %}
        {% assign alcohol = page.alcohol_content | replace: '.', ',' | append: ' %' %}
        {% include components/property.html key='Alkohol' value=alcohol %}
    {% endif %}
    {% if page.volume %}
        {% assign volume = page.volume 
            | times: 0.01 
            | round: 2 
            | replace: '.', ',' 
            | append: ' liter' 
        %}
        {% include components/property.html key='Volum' value=volume %}
    {% endif %}
    {% if page.sugar %}
        {% include components/property.html key='Sukker' value=page.sugar %}
    {% endif %}
    {% if page.acid %}
        {% include components/property.html key='Syre' value=page.acid %}
    {% endif %}
    {% if page.packaging_material %}
        {% include components/property.html key='Emballasje' value=page.packaging_material %}
    {% endif %}
    {% if page.cork_type %}
        {% include components/property.html key='Kork' value=page.cork_type %}
    {% endif %}
</dl>