@use "tokens/sizes";
@use "tokens/colors";

footer{
    position: relative;
    border-top: sizes.$border-width-rg solid colors.$border-normal-strong;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: sizes.$padding-layout;

    @media (min-width: sizes.$breakpoint-md){
        flex-direction: row;
    }
    
    dl{
        width: sizes.$section-sidebar-width;
    }

    .container{
        display: flex;
        flex-direction: row;
        flex: 1 1 50%;
        justify-content: end;
    }
}