$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

table{
  border-collapse: collapse;
  table-layout: fixed;
  width: 1800px;
  border: 1px solid #000;

  img{
    height: 72px !important;
    display: block;
    margin: auto;
  }

  th{
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    position: relative;
    padding: 12px;
    box-sizing: border-box;
    text-align: left;
  }

  td{
    font-size: 16px;
    line-height: 24px;
    padding: 12px;
    box-sizing: border-box;
  }

  // Row colors
  thead tr{
    background-color: rgba(0,0,0,.75);
    color: rgba(255,255,255,1);
  }
  tbody tr:nth-child(even){background-color: rgba(0,0,0,.05);}

  // Product image
  tbody td:nth-child(1) {
    background: center no-repeat;
    background-size: contain;
    background-blend-mode: multiply;
    a{
      display: none;
    }
  } // Image

  // Sizing
  tbody tr{height: 96px;}

  thead th:nth-child(1) {width: 96px;} // Image
  thead th:nth-child(2) {width: 192px;} // Short name
  thead th:nth-child(3) {width: 192px;} // Long name
  thead th:nth-child(4) {width: 96px;} // Product ID
  thead th:nth-child(5) {width: 96px;} // Type
  thead th:nth-child(6) {width: 72px;} // Volume
  thead th:nth-child(7) {width: 72px;} // Alcohol content
  thead th:nth-child(8) {width: 72px;} // Vintage
  thead th:nth-child(9) {width: 192px;} // Manufacturer
  thead th:nth-child(10) {width: 192px;} // GTIN
  thead th:nth-child(11) {width: 144px;} // Country
  thead th:nth-child(12) {width: 144px;} // Region
  thead th:nth-child(13) {width: 144px;} // Sub region
  thead th:nth-child(14) {width: 192px;} // Grapes
  thead th:nth-child(15) {width: 96px;} // Sales price

  // Sorting button
  &.sortable th button {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border: none;
    padding: 12px;
    display: block;
    font-size: 12px;
    line-height: 16px;
    background: transparent;
    width: 100%;
    text-align: left;
    outline: none;
    color: unset;
    cursor: pointer;

    span {
      position: absolute;
      right: 12px;
    }

    &:focus ,&:hover{
      background-color: rgba(255,255,255,.25);
    }
  }

  &.sortable th[aria-sort="descending"] span::after {content: "▼";}
  &.sortable th[aria-sort="ascending"] span::after {content: "▲";}
  &.show-unsorted-icon th:not([aria-sort]) button span::after {content: "♢";}

  &.sortable th:not([aria-sort]) button:focus span::after,
  &.sortable th:not([aria-sort]) button:hover span::after {content: "▼";}


}


/* Focus and hover styling */
