---
---

@use "tokens/sizes";
@use "tokens/colors";
@use "tokens/general";

@use "typography";
@use "header";
@use "footer";
@use "nav";
@use "buttons";
@use "cards";
@use "details";

html{
    margin: 0;
    padding: 0;
    color: colors.$text-normal-default;
}

body{
    display: flex;
    flex-direction: column;

    margin: sizes.$padding-layout;
    gap: sizes.$padding-layout;

    @media (max-width: sizes.$breakpoint-xs){
        margin: sizes.$padding-container;
    }
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: sizes.$padding-layout;

    @media (min-width: sizes.$breakpoint-md){
        flex-direction: row;
    }
}

#sidebar{
    flex: 0 0 auto;
    width: sizes.$section-sidebar-width;
}

#content{
    flex: 1 1 auto;
}

.container{
    padding: sizes.$padding-container;
    box-sizing: border-box;
    overflow: auto;
}

hr{
    margin: sizes.$padding-layout 0;
    border: 1px solid colors.$border-normal-subtle;
}

.horizontal{
    display: flex;
    flex-direction: row;
}

.hidden{
    display: none !important;
}

.inverted{
    background-color: colors.$bg-inverted;
    color: colors.$text-inverted-default;

    img[src*=".svg"] {
        filter: invert(1);
    }
}