{% include head.html %}
  <body>

    <div id="background"></div>

    {% include nav.html %}

    <section id="content">
        <article class="person">
          <div>
            <h2>Kontakt</h2>
            <h3> {{ site.data.company.name }}</h3>

            {% assign sorted = site.data.contentful.spaces.northofwine.person | sort_natural: 'name'%}
            {% for person in site.data.contentful.spaces.northofwine.person reversed %}
              {% if person.phone %}
                <a class="bullet" href="tel:{{ person.phone }}">
                  {{ site.data.icons.phone }}
                  <span>{{ person.phone | slice: 0, 3}} {{ person.phone | slice: 3, 2}} {{ person.phone | slice: 5, 2}} {{ person.phone | slice: 7, 2}} <br>{{ person.name }}</span>
                </a>
              {% endif %}
            {% endfor %}
            <a class="bullet" href="mailto:{{ site.data.company.email }}">
              {{ site.data.icons.email-outline }}
              <span>{{ site.data.company.email }}</span>
            </a>
            <a class="bullet" href="mailto:{{ site.data.company.invoice }}">
              {{ site.data.icons.invoice }}
              <span>{{ site.data.company.invoice }}</span>
            </a>
            <p class="bullet">
              {{ site.data.icons.map-marker }}
              <span>
                {{ site.data.company.street }}<br>
                {{ site.data.company.zip }}, {{ site.data.company.city }}
              </span>
            </p>
            <p class="bullet">
              {{ site.data.icons.business }}
              <span>Org.nr. {{ site.data.company.org-number }}</span>
            </p>

            <hr>

            {% assign sorted = site.data.contentful.spaces.northofwine.person | sort_natural: 'name' %}

            {% for person in sorted %}
            <a class="bullet" href="mailto:{{ person.email }}">
              {{ site.data.icons.email-outline }}<span>{{ person.email }}</span>
            </a>
            {% endfor %}
          </div>
        </article>
    </section>
  </body>
</html>
