<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include sections/head.html %}
    <body>
        {% include sections/header.html %}
        <main class="details">
            <section id="sidebar" class="details">
                {% if page.image.url %}
                    <img class="productimage large" src="{{ page.image.url }}?w=480">
                {% else %}
                    <img class="productimage large" src="/assets/images/bottle.png">
                {% endif %}
            </section>
            <section id="content" class="details">
                {% include details/breadcrumb.html category=page.product_type_name %}
                {% include details/description.html %}
            <hr>
                {% include details/properties.html %}
            </section>
        </main>
        {% include sections/footer.html %}
    </body>
</html>
