{% include head.html %}
  <body>

    <div id="background"></div>

    {% include nav.html %}

    <section id="content">

      {% assign sorted = site.data.contentful.spaces.northofwine.person | sort_natural: 'name' %}

      {% for person in sorted %}
        <article class="person">
          <img src="{{ person.image.url }}?w=384">
          <div>
            <h2>{{ person.name }}</h2>
            {{ person.description | markdownify }}
            <a class="bullet" href="mailto:{{ person.email }}">
              {{ site.data.icons.email-outline }}<span>{{ person.email }}</span>
            </a>
          </div>
        </article>
      {% endfor %}
    </section>
  </body>
</html>
