{% include head.html %}
  <body class="table">

    <table class="sortable">
    	<thead>
    		<tr>
    			<th>Image</th>
    			<th aria-sort="ascending">
            <button>
              Short name
              <span aria-hidden="true"></span>
            </button>
          </th>
    			<th>Long name</th>
    			<th>
            <button>
              Product ID
              <span aria-hidden="true"></span>
            </button>
          </th>
    			<th>
            <button>
              Type
              <span aria-hidden="true"></span>
            </button>
          </th>
    			<th>
            Volume
          </th>
    			<th>
            Alcohol content
          </th>
    			<th>
            <button>
              Vintage
              <span aria-hidden="true"></span>
            </button>
          </th>
    			<th>
            <button>
              Manufacturer
              <span aria-hidden="true"></span>
            </button>
          </th>
    			<th>
            GTIN
          </th>
    			<th>
            <button>
              Country
              <span aria-hidden="true"></span>
            </button>
          </th>
    			<th>
            <button>
              Region
              <span aria-hidden="true"></span>
            </button>
          </th>
    			<th>
            <button>
              Sub region
              <span aria-hidden="true"></span>
            </button>
          </th>
    			<th>
            <button>
              Grapes
              <span aria-hidden="true"></span>
            </button>
          </th>
    			<th>
            <button>
              Sales price
              <span aria-hidden="true"></span>
            </button>
          </th>
    		</tr>
    	</thead>
    	<tbody>
      {% assign sorted = site.data.contentful.spaces.northofwine.product | sort_natural: 'product_short_name' %}
			{% for item in sorted %}
			<tr>
        <td style="background-image: url({{ item.image.url }}?w=200)">
          <a href="https:{{ item.image.url }}">https:{{ item.image.url }}</a>
        </td>
				<td>{{ item.product_short_name }}</td>
				<td>{{ item.product_long_name }}</td>
				<td>{{ item.product_id }}</td>
				<td>{{ item.product_type_name }}</td>
				<td>{{ item.volume }} cl</td>
				<td>{{ item.alcohol_content }}%</td>
				<td>{{ item.vintage }}</td>
				<td>{{ item.manufacturer_name }}</td>
				<td>{{ item.gtin }}</td>
				<td>{{ item.country }}</td>
				<td>{{ item.region }}</td>
				<td>{{ item.sub_region }}</td>
				<td>
          {% for grape in item.grape_desc %}
            {{ grape }}{% if item.grape_pct %} {{ item.grape_pct[forloop.index0] }}{% endif %}{% if forloop.last != true %},{% endif %}
          {% endfor %}
        </td>
				<td>{{ item.sales_price }}</td>
			</tr>
			{% endfor %}
    	</tbody>
    </table>

  </body>
  <script src="/assets/js/table.js"></script>
</html>
