<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {{ content }}
    <table>
    	<thead>
    		<tr>
    			<th>Image</th>
    			<th>Short name</th>
    			<th>Long name</th>
    			<th>Product ID</th>
    			<th>Type</th>
    			<th>Volume</th>
    			<th>Alchohol content</th>
    			<th>Vintage</th>
    			<th>Manufacturer</th>
    			<th>GTIN</th>
    			<th>Country</th>
    			<th>Region</th>
    			<th>Sub region</th>
    			<th>Grapes</th>
    			<th>Sales price</th>
    		</tr>
    	</thead>
    	<tbody>
			{% for item in site.data.contentful.spaces.northofwine.product %}
			<tr>
        <td>
          <img src="{{ item.image.url }}" style="height:48px;">
        </td>
				<td>{{ item.product_short_name }}</td>
				<td>{{ item.product_long_name }}</td>
				<td>{{ item.product_id }}</td>
				<td>{{ item.product_type_name }}</td>
				<td>{{ item.volume }} cl</td>
				<td>{{ item.alcohol_content }} %</td>
				<td>{{ item.vintage }}</td>
				<td>{{ item.manufacturer_name }}</td>
				<td>{{ item.gtin }}</td>
				<td>{{ item.country }}</td>
				<td>{{ item.region }}</td>
				<td>{{ item.sub_region }}</td>
				<td>
          {% for grape in item.grape_desc %}
            {{ grape }} {{ item.grape_pct[forloop.index0] }}{% if forloop.last != true %},{% endif %}
          {% endfor %}
        </td>
				<td>{{ item.sales_price }}</td>
			</tr>
			{% endfor %}
    	</tbody>
    </table>
  </body>
</html>
